*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F4F7ff ;
}
.card{
    background-color: red;
    width: 70%;
    height: 500px;
    margin: auto;
}

nav{
    justify-content: space-between;
    background-color: white;
    height: 100px;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}
.Logo_Text{
    font-size: 32px;
    margin-left: 5px;
}
.Logo_Text span{
    font-size: 32px;
    font-weight: bold;
}
.nav_btnstyle_back_1{
    background-color: #F4F7ff;
    padding: 7px 15px;
    margin-right: 20px;
    border-radius: 30px;
}
.nav_btnstyle_back_2{
    background-color: #F4F7ff;
    padding: 10px;
    border-radius: 50%;
}



.body{
    justify-content: space-between;
    margin-top: 20px;
}
.left{
    width: 80%;
    background-color: white;
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px;
}
.sidebar{
    width: 20%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.box1{
    background-color: #F4F7ff ;
    height: 130px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    width: 25%;
    margin-right: 20px;
}
.box1 .logo{
    background-color: white;
    padding: 13px;
    border-radius: 50%;
}
.box1 .content {
    margin-left: 20px;
}
.box1 .content p{
    font-size: 16px;
    color: #00303C;
    font-weight: 500;
}
.box1 .content h1{
    font-size: 32px;
    font-weight: bold;
}
.box2{
    background-color: #F4F7ff ;
    height: 130px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    width: 50%;
    margin-right: 20px;
}
.box2{
    background-color: #3752FD;
    background-image: url(assets/board.png);
    background-repeat: no-repeat;
    background-position: 30px ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2 h1{
    font-size: 24px;
    line-height: 35px;
}

.box3{
    background-color: #F4F7ff ;
    height: 130px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    width: 25%;
}
.box3 .logo{
    background-color: white;
    padding: 13px;
    border-radius: 50%;
}
.box3 .content {
    margin-left: 20px;
}
.box3 .content p{
    font-size: 22px;
    color: #00303C;
    font-weight: 500;
}
.box3 .content h1{
    font-size: 22px;
    font-weight: bold;
}




































.sidebar .activities {

}
.sidebar .activities img{

}
.sidebar .activities p{
    color: #00303C;
    font-size: 20px;
    font-weight: 500;
    margin-left: 15px;
}
.clear_act{
    margin-top: 15px;
}

.btn{
    background-color: #3752FD;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
}
.line{
    border-top: 1px dotted gray;
    margin-top: 20px;
}
.sidebar .content{

}
.sidebar .content p{
    font-size: 15px;
    padding: 10px;
    background-color: #F4F7ff;
    margin-top: 20px;
    border-radius: 10px;
}